#modal-templates
{
	/*display:none;*/
}

.modal
{
	width:235px;
	background:url('../img/modal-glare.png') #000 no-repeat;
/*	min-height:200px;*/
	padding:15px 15px 15px 15px;
	display:none;
}

.modal .tweet-text
{
	width:230px;
	word-wrap:break-word;
}

.modal .confirmation-screen
{
/*	margin-top:10px;*/
	display:none;
}
.modal h2
{
	float:left;
	font-size: 23px;
	text-shadow:none;
	margin-bottom:10px;
	font-weight:normal;
}

.modal-dialog
{
	word-wrap:break-word;
	font-family:Arial;
	font-weight:bold;
	font-size:14px;
	text-shadow:none;
}

.modal .confirmation-screen
{
	width:100%;
	text-align:center;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
}

.modal .error,.confirmation
{
	width:100%;
	text-align:center;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
}

.modal-tweet-container
{
	margin-top:10px;
}

.modal-tweet-container *
{
	font-family:Arial;
	font-size:12px;
}

.modal-button
{
	float:left;
	background : url('../img/sprites.png');
	width:64px;
	height:21px;
	text-indent:-9999px;
}

.favorite-tweet
{
	width:100%;
	text-align:center;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
}

.centered-screen
{
	width:100%;
	text-align:center;
	margin-top:20px;
}

.modal-shadow 
{
	-moz-box-shadow: 0px 0px 10px #ED1F24;
	-webkit-box-shadow: 0px 0px 10px #ED1F24;
	box-shadow: 0px 0px 10px #ED1F24;
	/* For IE 8 */	
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#ED1F24')";	
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#ED1F24');
}

.close-button
{
	background : url('../img/sprites.png');
	background-position:-575px -149px;
	width:15px;
	height:17px;
	text-indent:-9999px;
	float:right;
	margin-bottom:10px;
}

.modal-cancel-button
{
	background-position:-385px -330px;
}

.modal-confirm-button
{
	background-position:-305px -398px;
	margin:10px 0px 0px 87px;
	width:64px;
	height:21px;
	float:none;	
}

.modal-favorite-button
{
	background-position:-386px -395px;
}

.modal-unfavorite-button
{
	background-position:-466px -364px;
}

.modal-follow-button
{
	background-position:-305px -365px;
	float:left;	
}

.modal-unfollow-button
{
	background-position:-386px -365px;
	float:left;	
}

.modal-retweet-button
{

	background-position:-305px -330px;
}

.modal-button-group-right
{
	margin:20px 0px 20px 80px;	
}

.modal-favorite-button-centered
{
	margin:20px 0px 20px 45px;	
}


.modal-cancel-button
{
	float:left;
	margin-left:15px;
}


.modal-photo
{
	display:none;
	width : 200px;
	background-color : #000;
	padding:15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#photo-preloader
{
	margin-left:85px;
	width : 200px;
}