html {
	background: #333;
	color: #FFF;
}

html *:focus {
	outline: 0;
}

body, div {
	font-family: UnicodSans-CondensedBold, "Helvetica Neue", "Helvetica", Arial, sans;
	font-size: 13px;
	line-height: 1.4;
	text-shadow: #000000 0px 0px 3px;
	}
	
.warning a {
	color: #74000e;
	text-decoration: underline;
}

a
{
	text-decoration:none;
}

.clear { clear:both;}

noscript div, .warning {
	line-height: 50px;
	background: #CAA642;
	color: #333;
	text-shadow: none;
	font-size: 16px;
	text-align: center;
}


/* Begin Common */

.red
{
	color:#ED1F24;
}

.gray
{
	color:#999;
}

/* End Common */

#content
{
	width: 924px;
	height: 973px;
	margin-left: auto;
	margin-right: auto;
	background: #333 url("../img/bkg.jpg") no-repeat;
	background-position: center top;
}

#content h1
{
	text-indent:-999px;
}
#column-left, #column-right
{
	display:inline;
	float: left;	
}

#column-left{
	margin-left: 10px;
	width: 530px;
}

#column-right {
	margin-left: 0px;
	width: 370px;
}

#tournament_nav ul
{
	margin-top:210px;
	width:508px;
}

#tournament_nav li
{
	display:inline;
	font-size:12px;
	margin-left:16px;
}

#tournament_nav .tournament-selected 
{
	font-size:36px;
	color:#FFF;
	background: url("../img/sprites.png") no-repeat;
	background-position:-49px -494px;
}


/* scedule list*/

#schedule_list
{
	margin-top:10px;	
}

#schedule-container
{
	width:504px;
	height:600px;
	position:relative;
	overflow:auto;
}
.game
{
	width:468px;
	height:108px;
	background: url("../img/sprites.png") no-repeat;
	clear:both;
	margin-bottom:20px;
}

.game-current
{
	background-position:-46px -1px;
}

.game-final
{
	background-position:-46px -126px;	
}

.game-quarter
{
	font-family:arial;
	font-weight:bold;
	font-size:16px;
/*	border:1px solid green;*/
	margin-left:35px;
	line-height:28px;
	width:57px;
	text-align:center;
}


.team-visiting
{
	margin-top:9px;
	height:25px;
/*	border:1px solid;*/
}

.team-home
{
	margin-top:13px;
	height:25px;
/*	border:1px solid;*/
}

/* Begin Game Module Text Formatting and layout*/

.team-ranking
{
	font-size:12px;
	width:20px;
	margin-left:19px;
	text-align:right;
	float:left;
}


.team-score, .team-name
{
	font-size:18px;
	float:left;
}


.team-score
{
	margin:0px 0px 0px 70px;
	width:30px;
	text-align:right;
/*	border:1px solid red;*/
}


.team-hashtag
{

	font-size:10px;
	font-family:arial;
	font-weight:bold;
	margin:0px 0px 0px 50px;
	position:relative;
	padding:0px;
	width:101px;
/*	border:1px solid;*/
	float:left;
	text-align:center;
	color:#000;
	text-shadow: #FFF 0px 1px 0px;
	line-height:22px;
}

.team-visiting .team-hashtag
{
	margin-top : -13px;
}

.team-name
{
	margin-left:5px;
}
.team-home .team-hashtag
{
	margin-top : 7px;
}


.team-mentions-small, .team-mentions-large
{
	width:63px;
	margin:0px 0px 0px 5px;
	float:left;
	text-align:center;
/*	border:1px solid red;*/
	line-height:28px;
}


.team-mentions-large
{
	font-size:17px;
}

.team-home .team-mentions-large
{
	font-size:17px;
	margin-left:3px;
/*	border:1px red solid;*/
	margin-top:-4px;
	line-height:28px;
}

.team-mentions-small
{
	font-size:13px;
}

.team-visiting .team-mentions-small
{
	margin-top:-7px;
/*	border:1px red solid;*/
}

.team-tweets-cta
{
	margin-right:5px;
	margin-top:-4px;
	background: url("../img/sprites.png") no-repeat;
	background-position:-572px -112px;
	width:22px;
	height:22px;
	float:right;
}

/* End Game Module Text Formatting and layout*/
