
/* ---------- basic theme: these are the most necessary styles --------------------------------- */

.scrollbar-pane {
    margin-right: 30px;
}

.scrollbar-handle-container {
/*    background: transparent;*/
	margin-left:30px;
    width: 30px;
	background: url("../img/sprites.png");
	background-position:-4px -4px;
}

.scrollbar-handle {
    width: 20px;
	margin-right: 10px;
	background: url("../img/sprites.png");
	background-position:-42px -368px;
}


.scrollbar-handle-up {
    width: 24px;
    height: 15px;
    background: transparent;
}


.scrollbar-handle-down {
    width: 24px;
    height: 15px;
    background: transparent;
}

/* --------- */

.team-tweets-css-scrollbar .scrollbar-pane {
    margin-right: 15px;
}

.team-tweets-css-scrollbar .scrollbar-handle-container {
    background: transparent;
    width: 30px;
}

.team-tweets-css-scrollbar .scrollbar-handle {
    width: 8px;
	margin-right: 7px;
	background: #ED1F24;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


.team-tweets-css-scrollbar .scrollbar-handle-up {
    width: 24px;
    height: 6px;
    background: transparent;
}


.team-tweets-css-scrollbar .scrollbar-handle-down {
    width: 24px;
    height: 6px;
    background: transparent;
}

